<h2 class="headercontent">Data Binding Start</h2>
<p>Hii {{title}}</p><!--string interpolation -->

<p [hidden]="property" [style]="expression" [style.color]="fontcolor">Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Qui vitae at quas
    inventore, a facere ab beatae nemo quos 
    molestias debitis, facilis eligendi veniam 
    quae expedita eum sapiente doloribus 
    distinctio.
<!-- property binding = component to template file  -->
</p>

<!-- event binding = template to component file -->
<h3>Event Binding example 1</h3>
<p [hidden]="visible">Event binding example place</p>
<button type="button" (click)="onSubmit()">Click to omit</button>

<h3>Event binding example 2</h3>
<div class="sear-div">
    <span><b>Search :</b></span>
    <input type="text" (input)="changesearchval($event)">
</div>
<p>{{searchval}}</p>

<!-- two-way binding -->
<h3>Two way data binding</h3>
<div class="search-div">
    <span><b>Search :</b></span>
    <input type="text" [(ngModel)]="searchval">
</div>
<p>{{searchval}}</p>

<h2 class="headercontent">Data Binding END</h2>