<!-- steps to send data from parent to child
     1. Import Input decorator of @angular/core at child component.ts file
     2. create a variable at parent.component.ts file which we want to pass and assign value
     3. create a variable at child component.ts file with @Input()
     4. add child selector to parent.html file where we do property binding. Here child variable will be in property section and parent variable
        will be in between "" 
-->

<div class="container">
    <h3>I'm Parent Component</h3>
</div>
<div>
    <app-child [myInput]="text"></app-child>
</div>